<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

<f:flashMessages />

	<input type="hidden" value="{periodoTransicion}" id="periodoTransicion">

	<div class="container-fluid indicadoresPreview" style="margin-top: 10px">


		<div id="indicadores">
			<f:for each="{indicadores_a_mostrar}" as="indicador" iteration="iterator"  key="index">
				<div class="{f:if(condition:'{iterator.isFirst}',then:'active',else:'')} tabPreviewIndicador" data-index="{index}">
					<a class="colour-shifter" data-toggle="tab" href="#tab{iterator.index}">
						<div class="row">
							<div class="col-md-12">
								<img src="{indicador.badge.originalResource.publicUrl}"
								class="unBadgeImg img-responsive unBadgeImgOriginal " >
								<img src="{indicador.altBadge.originalResource.publicUrl}"
								class="unBadgeImg img-responsive unBadgeImgAlternative hidden " >
							</div>
							<div class="unBadgeData col-md-12">
								<h5><f:format.case mode="upper">{indicador.nombreDisplay}</f:format.case></h5>
								<h3>{indicador.subtext} </h3>
							</div>
						</div>

					</a>
				</div>
			</f:for>


		</div>


		<div class="tab-content">
			<f:for each="{indicadores_a_mostrar}" as="indicador" iteration="iterator">
				<div id="tab{iterator.index}" class="tab-pane fade ">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
							<f:format.html>{indicador.descripcion}</f:format.html>
						</div>
					</div>
				</div>
			</f:for>
		</div>

		<f:link.typolink class="btn btn-info btn-block botonVerMas" parameter="{uri_link_boton_ver_mas}" target="_blank" >
						<div class="row">
							<div class="col-md-12">
								<h3><f:format.case mode="upper">{texto_boton_ver_mas}</f:format.case></h3>
							</div>
						</div>

		</f:link.typolink>

	</div>

</f:section>
</html>
